


/*nav bar*/

.navtopbar{
    background-color: rgba(0, 0, 0, 0.616);
    padding: 30px ;
    width: 100%;
    position:fixed;
    top: 0%;
    margin: 0;
}   
.opcionesnav a{
    font-family: "montserrat";
    font-weight: bolder;
    color: white;
    width:0%;
    margin-right: 40px;
}

.opcionesnav{
    text-align: center;
}
