  /*Artistas*/
  .pagArtistas {
    background-image: url(../imagenes/fondo\ degrade.avif);
    background-size: cover;
    background-repeat: no-repeat;
    fill: #2c2c2c;
}    

.parrafoArtistas1 {
    color: white;
    font-family: 'poppins';
    font-size: x-large;
    text-align: left;
    padding: 10px;
    margin-left: 50px;
    padding-bottom: 0%;
    width: 600px;
    height: 400px;
    margin: 10%;
    border: 10px;

}
